Repository walterjgsp/algorithms, pull requests merged in 2020-05, with the labels that each got.

#40 Build Array Stack Operations
  C++/problems/0167_build_array_stack_operations.cpp
  C++/problems/0167_build_array_stack_operations.hpp
  C++/tests/problems/0167_build_array_stack_operations_test.cpp
  PROBLEMS.md
Labels: C++, problem

#41 Rename python problems
  Python/problems/problem_0001_two_sum.py
  Python/problems/problem_0002_add_one_row_to_tree.py
  Python/problems/problem_0003_add_two_numbers.py
  Python/problems/problem_0004_advantage_shuffle.py
  Python/problems/problem_0007_arrange_coins.py
  Python/tests/problems/problem_0001_two_sum_test.py
  Python/tests/problems/problem_0003_add_two_numbers_test.py
  Python/tests/problems/problem_0004_advantage_shuffle_test.py
  Python/tests/problems/problem_007_arrange_coins_test.py
Labels: Python, refactor

#42 Implement backspace compare python
  PROBLEMS.md
  Python/problems/problem_0168_backspace_compare.py
  Python/tests/problems/problem_0168_backspace_compare_test.py
Labels: Python, problem
